.card {
  width: 300px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  color: #333;
  font-size: italic;
  line-height: 1.8;
  border-radius: 10px;
  background: repeating-linear-gradient(
      -45deg,
      blue 0 10px,
      red 10px 20px,
      pink 20px 30px,
      white 30px 40px
    )-20px -20px /100% 100%;
  font-size: 75px;
  padding: 5px;
}
.card:hover {
  background-position: 0;
}
.container {
  background: white;
  border-radius: inherit;
}
span {
  color: rgb(218, 205, 255);
  animation: colorchang 1s infinite alternate;
}

@keyframes colorchang {
  to {
    color: rgb(226, 43, 43);
  }
}
p {
  display: flex;
  flex-direction: column;
  align-self: center;
}
